@import url("https://fonts.googleapis.com/css2?family=Qahiri&display=swap");
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --font_e: "Qahiri", sans-serif;
}

.post_image {
    margin-top: 10px;
    /* height: 45px;
    overflow: hidden; */
}


/* .post_image img {
    width: 100%;
    opacity: 0.15;
    height: 400px;
} */

.tc_br {
    font-family: var(--font_d);
}

.blog_post_content {
    width: 100%;
    background-image: url(../image/home.jpg);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.short_wide {
    width: 50%;
    margin: auto;
}

.blog_post_content h1 {
    font-size: 37px;
    padding-bottom: 15px;
    font-weight: 400;
    margin: 0;
    text-align: center;
    font-family: var(--font_b);
}

.blog_post_content p {
    margin: 0;
    text-align: center;
    font-size: 19px;
    font-family: var(--font_b);
    font-weight: 800;
    /* color: darkgray; */
}

.content_blog {
    display: flex;
    margin: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_blog .img {
    width: 450px;
}

.h_ar_content {
    text-align: center;
    padding: 20px;
}

.news h3 {
    border-bottom: 2px solid aquamarine;
    width: 161px;
    margin: auto;
    margin-bottom: 20px;
}

.news p {
    font-family: var(--font_d);
}